<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-danger"
        (click)="onDelete()"
      >
        Delete element
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [servElement]="serverElement"
      ></app-server-element>

    </div>
  </div>
  <app-game-control
    (counterIncreased)="onCounterIncreased($event)"
  ></app-game-control>
  <div class="row">
    <div class="col-xs-12">
      <app-odd  *ngFor="let count of listOfOddCounters" [count]="count"></app-odd>
      <app-even  *ngFor="let count of listOfEvenCounters" [count]="count"></app-even>
    </div>
  </div>
</div>
